<html>
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
            .seleccionarMensaje{
                padding-left: 30px;
            }
        </style>
    </head>

    <body>
        <br>
        <h3 class="seleccionarMensaje">Resumen de Compra</h3>
        <br>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Tipo Entrada</th>
                <th>Tipo Visita</th>
                <th>Fecha</th>
                <th>Sede</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody>
                {% for entrada in entradas%}
              <tr>
                <th>{{entrada.numero}}</th>
                <td>{{entrada.tarifa.tipoEntrada.mostrarNombre}}</td>
                <td>{{entrada.tarifa.tipoVisita.mostrarNombre}}</td>
                <td>{{entrada.fechaVenta}}</td>
                <td>{{entrada.sede}}</td>
                <td>$ {{entrada.monto}}</td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
          <br>
        
        
        <p><strong>Total: $ {{total}}</strong></p>
        <p><strong>Cantidad: {{entradas|length}}</strong></p>
        <p><strong>Sede: {{sede}}</strong></p>
    </body>
</html>