{% extends "base.html" %}

{% block optionsNav2 %}
  {% if user.is_authenticated %}      
      <a class="navbar-brand" style="font-size: 32px; font-family:'Times New Roman', Times, serif;"> Sede {{sedeDelEmpleado}}</a>
  {% endif %}
{% endblock %}
{% block optionsNav %}
  {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'logOutUser' %}">Salir</a>      
  {% endif %}
{% endblock %}
{% block body%}

    <div class="cardExpoMainProfile">
      <div class="card backImgTicket" style="width: 18rem;">
        <img class="card-img-top" style="height: 212px;" src="https://image.flaticon.com/icons/png/512/65/65646.png" alt="Card image cap">
        <div class="card-body mainNav">
          <a href="#">Ver Exposiciones</a>
        </div>
      </div>
    </div>
    <div class="cardVentaMainProfile">
      <div class="card backImgTicket" style="width: 18rem;">
        <img class="card-img-top" style="height: 212px;" src="https://img.icons8.com/carbon-copy/452/ticket.png" alt="Card image cap">
        <div class="card-body mainNav">
          <a href="{% url 'registrarVentaEntrada' %}">Vender Entrada</a>
        </div>
      </div>
    </div>
    <div class="cardSedeMainProfile">
      <div class="card backImgTicket" style="width: 18rem;">
        <img class="card-img-top" style="height: 212px;" src="https://image.flaticon.com/icons/png/512/90/90546.png" alt="Card image cap">
        <div class="card-body mainNav">
          <a href="#">Informacion de la Sede</a>
        </div>
      </div>
    </div>
<!--
<ul>
  {% for sede in sedes %}
      <li>{{sede}}</li>
  {% endfor %}
</ul>
-->
{% endblock body%}