{% extends "base.html" %}
{% load static %}

{% block optionsNav2 %}
  {% if user.is_authenticated %}  
    <a class="nav-link" href="{% url 'pantallaSala' %}">Pantalla Sala</a>
    <a class="nav-link" href="{% url 'pantallaSede' %}">Pantalla Entrada</a>  
  {% endif %}                        
{% endblock %}
{% block optionsNav %}
  {% if user.is_authenticated %}      
    <a class="nav-link" href="{% url 'logOutUser' %}">Salir</a>      
  {% endif %}
{% endblock %}
{% block body%}

<style>
  .inputBuscador{
    background-color: white;
    background-repeat: no-repeat;
  }

  .seleccionarMensaje{
    padding-left: 30px;
  }
  .contentLogIn {
      position: absolute;
      left: 49%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }

  .my-custom-scrollbar {
      position: relative;
      height: 200px;
      overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }
</style>

<div id="seleccionTarifa" class="table-responsive">
  <br>
    <h3 class="seleccionarMensaje">Seleccione la Tarifa</h3>  
    <br>
    &nbsp
    &nbsp
    &nbsp
    &nbsp
    <input class="inputbuscador" type="text" id="inputBuscador" placeholder="Buscar Tarifa ...">
  <br>
  <br>
  <input type="hidden" name="idTarifa" id="idTarifa" value="-1">
  <table class="table table-striped" cellspacing="0" width="100%">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Monto</th>
          <th class="text-center">Monto Adicional Guia</th>
          <th class="text-center">Tipo Visita</th>
          <th class="text-center">Tipo Entrada</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody id="tablaTarifas">
          {% for tarifa in tarifas %}
        <tr>
          <td style="text-align: center; vertical-align: middle;">$ {{tarifa.monto}}</td>
          <td style="text-align: center; vertical-align: middle;">$ {{tarifa.montoAdicionalGuia}}</td>        
          <td style="text-align: center; vertical-align: middle;">{{tarifa.tipoVisita.mostrarNombre}}</td>
          <td style="text-align: center; vertical-align: middle;">{{tarifa.tipoEntrada.mostrarNombre}}</td>
          <td style="text-align: center;"><input class="form-check-input" name="fav_language" type="radio" onclick="seleccionarTarifa('{{tarifa.id}}')" id="flexCheckDefault"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <button type="button" class="btn btn-primary" onclick="duracionVisita()" id="btnConfirmarIdTarifa" style="visibility: hidden; float: right;">Confirmar</button>
</div>
 
  <input id="inputDuracion" value="" type="hidden">
  <div id="divDuracion" class="contentLogIn" style="visibility: hidden;">
        <div class="card">
            <div class="card-header" style="background-color: rgb(175, 218, 238);">
                <h3><center>Número de Entradas</center></h3>
            </div>
            <div class="card-body">
              <div class="input-group mb-3">
                  <input id="seleccionCantEntradas" style="width: 280px;" min="1" value="1" type="number" placeholder="Cantidad de Entradas">
                </div>              
            </div>            
            <div class="card-footer">
                <center><button type="submit" class="btn btn-primary btn-lg" onclick="tomarCantidad()">Siguiente</button></center>
            </div>
        </div>   
        <br>
        <div class="alert alert-danger" style="display: none;" role="alert" id="alertMsg">
          La Cantidad Ingresada no es válida.
        </div>      
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="detalleVenta">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalle Venta</h5>          
        </div>
        <div class="modal-body">
          <div id="contenidoModal">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="crearEntrada()">Confirmar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <form id="form-imprimir" method="post" action="{% url 'imprimirEntrada' %}">
    {% csrf_token %}
  </form>
  <script>

      $(document).ready(function(){
        $("#inputBuscador").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#tablaTarifas tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });      


      function seleccionarTarifa(id_tarifa){
          inputId = document.getElementById("idTarifa");
          if (inputId.value == "-1"){
            btnIdTarifa = document.getElementById("btnConfirmarIdTarifa");
            btnIdTarifa.style.visibility = 'visible'    
          };
          inputId.value = id_tarifa;   
      }

      function duracionVisita(){
        var duracion = 2;      
        $.ajax({
          url: "{% url 'calcularDuracionVisita' %}",
          type: 'POST',
          data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(data){
            //alert(data.duracion);
            divSelTarifa = $('#seleccionTarifa');
            divSelTarifa.hide();
            btnIdTarifa = $('#btnConfirmarIdTarifa');
            btnIdTarifa.hide();
            inpDuracion = document.getElementById('inputDuracion'); 
            inpDuracion.value = data.duracion;
            divDuracion = document.getElementById('divDuracion'); 
            divDuracion.style.visibility = "visible";
          },
          error: function (data) {
              console.log("error")
          }
        });
      }

      function tomarCantidad(){
        cantidad = $('#seleccionCantEntradas').val();
        tarifa = $('#idTarifa').val(); 
        $.ajax({
          url: "{% url 'validarCantidadEntradas' %}",
          type: 'POST',
          data: {csrfmiddlewaretoken: '{{ csrf_token }}','cantidad':cantidad},
          success: function(data){            
            if(data.estado){
              $.ajax({
                url: "{% url 'calcularTotalTarifas' %}",
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}','cantidad':cantidad, 'tarifa':tarifa},
                success: function(data){
                  $("#contenidoModal").html(data);
                  $('#detalleVenta').modal('show');
                },
                error: function (data) {
                    console.log("error")
                }
              });
            }else{
              document.getElementById("alertMsg").style.display = "block";
            };
          },
          error: function (data) {
              console.log("error")
          }
        });
        
      }

      function crearEntrada(){
        cantidad = $('#seleccionCantEntradas').val();
        tarifa = $('#idTarifa').val(); 
        $("#contenidoModal").html('Cargando ...');
        $.ajax({
          url: "{% url 'crearEntrada' %}",
          type: 'POST',
          data: {csrfmiddlewaretoken: '{{ csrf_token }}','cantidad':cantidad, 'tarifa':tarifa},
          success: function(data){
            document.getElementById("form-imprimir").submit();
            $("#contenidoModal").html('Comprobante creado con éxito.');
          },
          error: function (data) {
              console.log("error")
          }
        });
      }
         

  </script>
{% endblock body%}